{% extends 'base.html' %}

{% block title %}Image Upscaler{% endblock %}

{% block nav %}
<li class="nav-item active">
  <a class="nav-link" href="{{ url_for('index') }}">Home</a>
</li>
{% endblock %}

{% block body %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <br>
      <h1 class="text-center mb-4">Welcome to the Image Upscaler!</h1>

      <form action="{{ url_for('process_upload') }}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="formFile" class="form-label">Choose Image to Process:</label>
          <input class="form-control" type="file" id="formFile" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Upload and Process</button>
      </form>

      {% if original_image_url and processed_image_url %}
      <div class="mt-5 text-center">
        <h2 class="mb-4">Original Image</h2>
        <img src="{{ original_image_url }}" alt="Original Image" class="img-fluid rounded mx-auto d-block">

        <h2 class="mt-4">Processed Image</h2>
        <img src="{{ processed_image_url }}" alt="Upscaled Image" class="img-fluid rounded mx-auto d-block">
      </div>
      {% endif %}

    </div>
  </div>
</div>
{% endblock %}